## License

## This software is licensed under the CC0 1.0 Public Domain Declaration, as
## released by Creative Commons <http://creativecommons.org/publicdomain/zero/1.0/>.
## This software comes with NO WARRANTIES OR GUARANTEES WHATSOEVER.


#Attempted colemak-vim/colemak-evil mappings for bash/readline.
#Very, very incomplete, buggy.
#A lot can't seem to be changed since the default keymaps are built in.

# What seems to work: mainly navigation.
# * The colemak-vim navigations, unei, ly seem to work, along with search as jh
# * wf are set to find forward/backward, t/T set to repeat find/backward
# * rR/sS set to insert/append (at position or line)
# * undo as z (no redo, however)

# Known bugs: 
# * change and delete don't seem to work with movement keys (except l)  




#put .inputrc (or symlink to .inputrc) in home folder 

set editing-mode vi

# Show all completions as soon as I press tab, even if there's more than one
set show-all-if-ambiguous on
# Ignore case
set completion-ignore-case on
# on menu-complete, first display the common prefix, then cycle through the 
# options when hitting TAB
menu-complete-display-prefix on

###########################################################
# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command

#navigation
"l": vi-bword
"y": vi-fword

"n": backward-char
"i": forward-char

"L": beginning-of-line
"Y": end-of-line

"u": previous-history
"e": next-history

"j": history-search-backward
"h": history-search-forward


#insertion/append modes
"r": vi-insertion-mode
"R"  vi-insert-beg

"s": vi-append-mode
"S"  vi-append-eol

"z": undo

#replace mode
"q": vi-change-char
"Q": vi-replace

#repeat search
"k": vi-search-again

#find backward
"w": "F"

#repeat find
"t": ";"
"T": ","


###########################################################
# Keymaps for when we're in insert (i.e., typing stuff in) mode
set keymap vi-insert

# Needed because binding 'p' in command mode above wipes its insert mode
# function, too. This fixes that, and will insert 'p' when you type 'p'.
"p": self-insert