## License

## This software is licensed under the CC0 1.0 Public Domain Declaration, as
## released by Creative Commons <http://creativecommons.org/publicdomain/zero/1.0/>.

## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS",
## WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
## THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
## NONINFRINGEMENT. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
## ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


#Attempted colemak-vim/colemak-evil mappings for bash/readline.
#Very, very incomplete, buggy.
#A lot can't seem to be changed since the default keymaps are built in.

# What seems to work: mainly navigation.
# * The colemak-vim navigations, unei, ly seem to work, along with search as jh
# * wf are set to find forward/backward, t/T set to repeat find/backward
# * rR/sS set to insert/append (at position or line)
# * undo as z (no redo, however)

# Known bugs:
# * change and delete don't seem to work with movement keys (except l)




#put .inputrc (or symlink to .inputrc) in home folder

set editing-mode vi

# Show all completions as soon as I press tab, even if there's more than one
set show-all-if-ambiguous on
# Ignore case
set completion-ignore-case on
# on menu-complete, first display the common prefix, then cycle through the
# options when hitting TAB
menu-complete-display-prefix on


###########################################################
# Keymaps for when we're in insert (i.e., typing stuff in) mode
set keymap vi-insert

# Needed because binding 'p' in command mode above wipes its insert mode
# function, too. This fixes that, and will insert 'p' when you type 'p'.
"p": self-insert

###########################################################
# Keymaps for when we're in command mode (e.g., after hitting ESC)
# largely abandoned due to unreliability (e.g. search-again, undo don't get bound)
# bind -p to check
set keymap vi-command

"j": backward-char
"l": forward-char

"h": previous-history
"k": next-history






# "n": backward-char
# "i": forward-char

# "u": previous-history
# "e": next-history



# #navigation
# "l": vi-bword
# "y": vi-fword

# "n": backward-char
# "i": forward-char

# "L": beginning-of-line
# "Y": end-of-line

# "u": previous-history
# "e": next-history

# "j": history-search-backward
# "h": history-search-forward


# #insertion/append modes
# "r": vi-insertion-mode
# "R"  vi-insert-beg

# "s": vi-append-mode
# "S"  vi-append-eol

# "z": undo

# #replace mode
# "q": vi-change-char
# "Q": vi-replace

# #repeat search
# "k": vi-search-again

# #find backward
# "w": "F"

# #repeat find
# "t": ";"
# "T": ","
